################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Lab1/.sonarqube/conf
/Lab1/.sonarqube/conf/0
/Lab1/.sonarqube/conf/0/FilesToAnalyze.txt
/Lab1/.sonarqube/conf/0/ProjectOutFolderPath.txt
/Lab1/.sonarqube/conf/0/SonarProjectConfig.xml
/Lab1/.sonarqube/conf/1
/Lab1/.sonarqube/conf/1/FilesToAnalyze.txt
/Lab1/.sonarqube/conf/1/ProjectOutFolderPath.txt
/Lab1/.sonarqube/conf/1/SonarProjectConfig.xml
/Lab1/.sonarqube/conf/2
/Lab1/.sonarqube/conf/2/FilesToAnalyze.txt
/Lab1/.sonarqube/conf/2/ProjectOutFolderPath.txt
/Lab1/.sonarqube/conf/2/SonarProjectConfig.xml
/Lab1/.sonarqube/conf/3
/Lab1/.sonarqube/conf/3/FilesToAnalyze.txt
/Lab1/.sonarqube/conf/3/ProjectOutFolderPath.txt
/Lab1/.sonarqube/conf/3/SonarProjectConfig.xml
/Lab1/.sonarqube/conf/cs
/Lab1/.sonarqube/conf/cs/SonarLint.xml
/Lab1/.sonarqube/conf/Sonar-cs-none.ruleset
/Lab1/.sonarqube/conf/Sonar-cs.ruleset
/Lab1/.sonarqube/conf/Sonar-vbnet-none.ruleset
/Lab1/.sonarqube/conf/Sonar-vbnet.ruleset
/Lab1/.sonarqube/conf/SonarQubeAnalysisConfig.xml
/Lab1/.sonarqube/conf/vbnet
/Lab1/.sonarqube/conf/vbnet/SonarLint.xml
/.sonarqube
/.vs
/coverage.xml
/Lab1/config.env
/Lab1/newrelic-infra.dockerfile
/Lab1/newrelic-infra.yml
/Lab1/.env
/Lab1/secrets/machine-key
